{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}"/>
  <title>Oops | Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

  <!-- Can't figure out why this doesn't load -->
  <link src="{% static 'js/script.js' %}" type="text/javascript"></script>
</head>

<body>
  <div id="header">
    <div id="header_title_text">
      <h1>-Oops</h1>
      A tiny to-do lister.<br>
    </div>
    <div id="header_control_text">
      <p class="link">About
      <p class="link">Account
      <p class="link">Logout
    </div>
  </div>
