{% load static %}
<div id="tile_container">
  {% for tile in tileindex reversed %}

    {% if forloop.last %}
      <span class="tile" style="margin-right: 1em;">
    {% else %}
      <span class="tile">
    {% endif %}

      <div class="tile_date">{{ tile.date }}</div>
      <img src="{% static 'img/delete.svg' %}" class="delete" onclick="deleteTile({{ tile.id }})"/>
      <div class="tile_title">{{ tile.title }}</div>
      <p id="{{ tile.id }}" onclick="tileEditable({{ tile.id }})" oninput="tileUpdate({{ tile.id }})">
          {{ tile.content|safe }}</p>

      <script type="text/javascript">
        function tileEditable(id) {
          document.getElementById(id).contentEditable = true;
        }

        function tileUpdate(tile_id = 0) {
          var content_updated = document.getElementById(tile_id).innerHTML;
          $.ajax({
            url: "tile-update/",
            data: {
              'id': tile_id,
              'content': content_updated
            },
            success: function() {
              console.log("Update success.");
            }
            });
        }

        function addTile() {
          console.log("addTile():")
          $.ajax({
            url: "tile-add/",
            success: function() {
              console.log("Add tile success.")
            }
          })
        }

        function deleteTile(tile_id) {
          console.log("deleteTile():")
          $.ajax({
            url: "tile-delete/",
            success: function() {
              console.log("deleteTile activated.")
            }
          })
        }
      </script>

    </span>
  {% endfor %}
  <span class="plus" onclick="addTile()">Plus</span>
</div>
