{% load static %}
<div id="tile_container">
  {% for tile in tileindex reversed %}

    {% if forloop.last %}
      <span class="tile" style="margin-right: 1em;">
    {% else %}
      <span class="tile">
    {% endif %}

      <div class="tile_date">{{ tile.date }}</div>
      <img src="{% static 'img/delete.svg' %}" class="delete" onclick="deleteTile({{ tile.id }})" alt="Delete tile" title="Delete this tile?"/>
      <div class="tile_title">{{ tile.title }}</div>
      <p id="{{ tile.id }}" onclick="tileEditable({{ tile.id }})" oninput="tileUpdate({{ tile.id }})">
          {{ tile.content|safe }}</p>

      </span>

  {% endfor %}

  <span id="addbutton" class="plus" onclick="addTile()">
  <img src="{% static 'img/add.svg' %}"</span>

</div>
